<legend>Resend confirmation instructions</legend>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control col-lg-8" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-default" %>
  </div>
<% end %>
