<%= form_for @program, :html => { :class => "form-horizontal program" } do |f| %>

    <% if @program.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @program.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@program[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :short_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :short_description, :class => 'form-control' %>
    </div>
    <%= error_span(@program[:short_description]) %>
  </div>
  <div class="control-group">
    <%= f.label :long_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :long_description, :class => 'form-control' %>
    </div>
    <%= error_span(@program[:long_description]) %>
  </div>
  <div class="control-group">
    <%= f.label :deadline, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :deadline, :class => 'form-control' %>
    </div>
    <%= error_span(@program[:deadline]) %>
  </div>
  <div class="control-group">
    <%= f.label :picture, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :picture, :class => 'form-control' %>
    </div>
    <%= error_span(@program[:picture]) %>
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags, :class => 'form-control' %>
    </div>
    <%= error_span(@program[:tags]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            programs_path, :class => 'btn btn-default' %>

<% end %>
