<%- model_class = Program -%>

<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:short_description) %></th>
      <th><%= model_class.human_attribute_name(:deadline) %></th>
      <th><%= model_class.human_attribute_name(:rubric) %></th>
      <th><%=t 'Application Form' %></th>
      <th><%=t ' ' %></th>
    </tr>
  </thead>
  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= link_to program.title, program_path(program) %></td>
        <td><%= program.short_description %></td>
        <td><% if program.deadline == nil %>
          <%= program.deadline %>
          <% else %>
          <%= program.deadline.strftime("%a %b %d, %Y") %>
          <% end %> </td>
        <% if program.rubric.exists? %>
          <td><%= link_to "Download", program.rubric.url(:original, false), :target => "_blank", :class => 'btn btn-default btn-xs' %></td>
        <% else %>
          <td><%=t "No Rubric Uploaded" %></td>
        <% end %>
        <td><%= link_to "Download", program.application_form.url(:original, false), :target => "_blank", :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to  t('.apply', :default => t("helpers.links.apply")), program_path(program), :class => 'btn btn-default btn-xs' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

