<%- model_class = Program -%>

<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:short_description) %></th>
      <th><%= model_class.human_attribute_name(:deadline) %></th>
      <th><%= model_class.human_attribute_name(:rubric) %></th>
      <th><%=t 'Application Form' %></th>
      <th><%=t 'More' %></th>
    </tr>
  </thead>
  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.title %></td>
        <td><%= program.short_description %></td>
        <td><%= program.deadline %></td>
        <% if program.rubric.exists? %>
          <td><%= link_to "Download", program.rubric.url(:original, false), :target => "_blank" %></td>
        <% else %>
          <td><%=t "No Rubric Uploaded" %></td>
        <% end %>
        <td><%= link_to "Download", program.application_form.url(:original, false), :target => "_blank", :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")), program_path(program), :class => 'btn btn-default btn-xs' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

