<%- model_class = Program -%>
<div class="row">
	<div class="col-lg-12">
		<h3 class="well text-center">
				Welcome to Greater Poweshiek Community Foundation's Grant Application System!
		</h3>
		<% if !user_signed_in? %>
		<h4 class="well text-center">Please log in or sign up to apply.</h4>
		<% end %>
	</div>
</div>


<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<table class="table table-striped sortable">
  <thead>
    <tr>
      <th><div class="btn btn-default"><%= model_class.human_attribute_name(:title) %> <i class="fa fa-sort-alpha-asc"></div></th>
      <th><div class="btn btn-default"><%= model_class.human_attribute_name(:short_description) %></div></th>
      <th><div class="btn btn-default" data-defaultsign="LLL"><%= model_class.human_attribute_name(:deadline) %> <i class="fa fa-calendar-o" aria-hidden="true"></i></div></th>
      <th><div class="btn btn-default"><%= model_class.human_attribute_name(:rubric) %></div></th>
      <th><div class="btn btn-default"><%=t 'Application Form' %></div></th>
      <% if user_signed_in? && @current_user.role == 'applicant' %>
        <th><%=t ' ' %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= link_to program.title, program_path(program) %></td>
        <td><%= program.short_description %></td>
        <td><% if program.deadline == nil %>
          <%= program.deadline %>
          <% else %>
          <%= program.deadline.strftime("%a %b %d, %Y, %I:%M%p") %>
          <% end %> </td>
        <% if program.rubric.exists? %>
          <td><%= link_to "Download", program.rubric.url(:original, false), :target => "_blank", :class => 'btn btn-default btn-xs' %></td>
        <% else %>
          <td>No Rubric Uploaded</td>
        <% end %>
        <td><%= link_to "Download", program.application_form.url(:original, false), :target => "_blank", :class => 'btn btn-default btn-xs' %></td>
        <% if user_signed_in? && @current_user.role == 'applicant' %>
          <td><%= link_to  "Apply", new_app_path(@app, :program_id => program.id), :class => 'btn btn-default btn-xs' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

