<p id="notice"><%= notice %></p>


<p>
  Comment for <%= @feedback.app.user.email %>'s application for  <%= @feedback.app.program.title %>
</p>

</p>

<p>
  <strong>Comment:</strong>
  <%= @feedback.comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @feedback.score %>
</p>

<p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
