<!-- Check http://getbootstrap.com/components/#navbar for more information -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class></span>
        <span class></span>
      </button>
      <a class="navbar-brand" href="Greater Poweshiek Community Foundation Grant Management System"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Grant Management System<span class="sr-only">(current)</span></a></li>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Programs", programs_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Your Applications", apps_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li><%= link_to "Sign Up", new_user_registration_path, :target => "_blank" %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Admin Portal", new_admin_user_session_path, :target => "_blank"%></li>

        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>