<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= "Greater Poweshiek Community Foundation: Grant Management"%></title>
  <!-- <title><%= content_for?(:title) ? "Greater Poweshiek C-omunity Foundation: Grant Management" : yield(:title) %></title> -->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
    <%= render 'layouts/header' %>
    <div class ="jumbotron center">
      <div class="row">
          <div class="col-lg-9" style = "margin-top: 40px;">
            <%= yield %>
          </div>
      </div><!--/row-->
    </div> <!-- /jumbotron center -->
    <%= render 'layouts/footer' %>
</body>

</html>
